<!doctype html>
<html lang="en">
  <head>
    {%block head%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link rel="icon" 
      type="image/png" 
      href="{{url_for('static',filename='images/Book-03.png')}}" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/bootstrap_override.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">

    {%block title%}<title>Open Lib 1.0</title>{%endblock title%}

    {%endblock head%}
  </head>
  <body >



    {%block navbar%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <span class="navbar-brand mb-0 h1">Open Lib 1.0</span>


          </div>

          <li class="navbar-nav">
           <a class="nav-link" href="#">  <img width="30px" height="30px"  src="{{url_for('static',filename='images/layer.svg')}}" /></a>
          </li>
          <form class="form-inline my-2 my-lg-0 navbar-nav">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
      </div>
    </nav>
    {%endblock navbar%}

      <div class="container">
        {%block body_container%}
        {%endblock body_container%}
      </div>

   
  </body>
</html>