{%extends "base.html"%}

{% block head %}
    {{super()}}
    <script> var mydf = {{mydf|tojson}}</script>
{% endblock head %}

{% block navbar %}
    {% include "navigation.html" ignore missing with context %}
{% endblock navbar %}

{%block body_container%}
    {% if currently_reading is not none %}
        {% include "currently_reading.html" ignore missing with context %}
    {% endif %}
    {% include "arrange-by-author-accordion.html" ignore missing with context %}
{%endblock body_container%}